<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogFile" value="C:\Users\delsi\source\repos\Zoo\bin\Debug\net5.0\log.txt"/>
        <add key="JsonFiles" value="C:\Users\delsi\source\repos\Zoo\bin\Debug\net5.0\dict.json"/>
        <add key="XmlFiles" value="C:\Users\delsi\source\repos\Zoo\bin\Debug\net5.0\another_dict.xml"/>
        <add key="ErrorText" value="Это занечение не может быть отрицательным"/>
    </appSettings>
</configuration>